<div class="text">
    <strong>Coach:</strong> <%= @appointment.employee.name %><br> 
    <strong>Time:</strong> <%= convert_time(@appointment.time) %><br> 
    <strong>Your Name:</strong> <%= @user.name %>
</div> 